* { box-sizing: border-box; }

body 	{	margin: 0;
			padding: 0;
			background-color: #ffffff;
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			color: #000000;	}
			
header	{	padding: 0;
			margin-left: 0;
			width: 100%;
			height: 325px;
			background-color: #061347;
			margin-top: -60px;
			background-image: url(banner.jpg);
			background-repeat: no-repeat;	}
			
h1		{	text-align: center;
			font-weight: bold;
			font-size: 5em;
			text-shadow: 1.5px 1.5px #0e0811;
			padding-top: 125px;}
			
h1 a	{	color: #f9f9f9;
			text-decoration: none;	}
h1 a:hover	{	color: #6d3c84;	}	

nav		{	background-color: #000000;
			color: #ffffff;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;	}
			
nav a	{	border-left: 1px solid white;
			border-right: 1px solid white;
			padding-right: 100px;
			padding-left: 100px;
			color: #ffffff;
			text-decoration: none;	}
nav a:hover	{	color: #2A68D5;
				text-decoration: underline;	}
				
main	{	display: block;	}

#container	{	margin-top: 0px;
				width: 90%;
				margin-right: auto;
				margin-left: auto;
				background-color: #ffffff;
				box-shadow: 0px 0px 3px 3px #321c3d;
				padding: 20px; }

#border	{	border-bottom: 1px solid #cecece;
			margin-top: -30px; }

h2		{	font-size: 3.5em;
			font-weight: bold;
			color: #1A1323;	}
			
h3		{	font-size: 1.7em;
			font-weight: bold;
			color: #000000;	}
			
a		{	color: #2a68d5;	}
a:hover	{	color: #2A68D5;
			text-decoration: none;	}
			
.author	{	font-size: 0.8em;
			margin-top: -10px;	}
			
.aboutimage	{	width: 500px; 
				height: 280px; 
				display: block; 
				margin-left: auto; 
				margin-right: auto;	}
			
#emphasize	{	margin-top: 10px;
				color: #000000;
				font-weight: bold;
				font-size: 30px;	}
				
p		{		color: #636363;
				font-size: 16.2px;	}
.indent	{		text-indent: 2em;	}
.italicize	{	font-style: italic;	}

ul		{	list-style-type: none;
			margin-left: -10px;	}

li		{	width: 272px;
			height: 272px;	
			display: inline-block;
			padding: 10px;
			margin: 6px;
			background-color: #EBC6F9;
		}
.look	{	width: 250px;
			height: 250px;
			padding: 0;	}

.overlay	{	position: absolute;
				background-color: #EBC6F9;
				opacity: 0;
				text-align: center;
				width: 272px;
				height: 28px;
				color: #000000;
				font-size: 13px;
				padding-top: 5px;
				margin-top: -20px;
				margin-left: -10px;	}
			
li:hover .overlay {
  opacity: 1;
}

label { float: left;
	    width: 11em; 
        display: block;
	    padding-right: 1em; }
input, textarea { font-family: Helvetica, sans-serif;
				  margin-bottom: 1em; 
                  display: block; } 
				  
#mySubmit { background-color: #000000;
			color: #ffffff;
			text-transform: uppercase;
			font-weight: bold;
			margin-left: 6em;
			padding: 15px;
			border: 1px solid #000000;
			}
#mySubmit:hover		{	color: #2A68D5;	}		
		
		
footer	{	font-size: 13px;
			text-align: center;
			font-style: italic;
			width: 100%;
			height: auto;
			background-color: #000000;
			color: #ffffff;
			padding: 20px;	}

			
footer a	{	color: #ffffff;
				text-decoration: none;
				font-style: normal;
				padding: 30px; }
footer a:hover	{	color: #2A68D5;
					text-decoration: underline;	}