body {
    margin: 0;
}

.logo {
    width: 175px;
    height: auto;
    margin-left: 43%;
    padding-top: 40px;
}
.login {
    margin-left: 200px;
}
    .login h1 {
        margin-left: 170px;
    }
    .login button {
        width: 400px;
        margin-left: 150px;
        margin-top: 30px;
    }
header {
    width: 200px;
    height: 100%;
    position: fixed;
    z-index: 999;
}
    .name {
        display: inline;
        margin-left: 45px;
    }
    header img {
        width: 170px;
        height: auto;
        margin-left: 0px;
        padding: 20px;
    }
    .logout {
        padding-top: 20px;
        margin-bottom: 10px;
        margin-left: 130px;
    }
    ul {
        list-style: none;
    }
    .list-group-item-action:hover {
        background-color: #eedaff;
    }

main {
    margin-left: 220px;
}
    a {
        color: #9c00bb;
    }
    a:hover {
        color: #d770ff;
        text-decoration: none;
    }
    .row {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .info {
        margin-left: -200px;
    }
        .info h2 {
            font-size: 36px;
            padding-bottom: 10px;
        }
        .info ul {
            margin-left: -40px;
        }
    form {
        padding: 20px;
    }
    .searchbar {
        display: inline;
        width: 75%;
    }
    .search {
        background: none;
        border: none;
    }
        .s-icon {
            width: 22px;
            height: auto;
            margin-top: -6px;
            margin-left: -80px;
            opacity: 0.5;
        }
    .new-match {
        display: inline;
    }
    h1 {
        padding-top: 20px;
        padding-bottom: 5px;
    }
    h4 {
        padding: 10px;
    }
    .dash {
        padding: 20px;
    }
    .action {
        margin-left: 750px;
        margin-right: 5px;
        margin-top: -30px;
    }
    .choose {
        margin-right: 5px;
    }

    #match .yes {
        display: none;
    }

    #match .no {
        display: none;
    }

    #undo  {
        display: none;
    }

    .no {
        margin-left: 800px;
        margin-top: -20px;
        color: red;
    }
    .yes {
        margin-left: 800px;
        margin-top: -20px;
        color: #28a745;
    }
    .undo {
        margin-left: 807px;
        margin-top: -2px;
    }
    .bold {
        font-weight: bold;
    }
    .helptitle {
        padding-bottom: 10px;
    }

    .italic {
        font-style: italic;
        padding-top: 30px;
        margin-left: 18%;
    }

    h6 {
        padding-top: 20px;
    }

    .unread {
        background-color: #8700a1;
        border-color: #8700a1;
    }

    .unread:hover {
        background-color: #510061;
        border-color: #510061;
    }
    .read:hover {
        background-color: #eedaff;
        border-color: #eedaff;
    }
    .r-action {
        margin-bottom: 10px;
    }
    .warn {
        margin-left: 50px;
    }

    .q-group {
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .back {
        margin-left: 75%;
        margin-top: -50px;
        padding-bottom: 40px;
    }

footer {
    margin-left: 200px;
}
    footer p {
        padding-top: 15px;
        margin-left: 45%;
    }