* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	display: block;
	width: 80%;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	font-family: Tahoma, sans-serif;
}

header {
	height: 210px;
	}
	
	header img {
		margin-left: 313px;
	}
	
	
	nav {
		background-color: #eee;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 60px;
		border-bottom: 1px solid #ddd;
	}
	
	nav ul {
		list-style: none;
	}
	
	nav ul li {
		display: inline;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.75em;
	}
	
	nav ul li a {
		color: #444;
		text-decoration: none;
		padding-left: 50px;
		padding-right: 50px;
	}
	
	nav ul li a:hover {
		text-decoration: underline;
	}
	
	.divider {
		border-right: 1px solid #bbb;
	}
p {
	display: block;
}	
main {
	padding: 30px;
}
	.list {
		background-image: url("images/ad.png");
		width: 800px;
		height: 458px;
		margin-left: auto;
		margin-right: auto;
		padding: 15px;
	}
		.list header {
			margin-left: 0;
			background: none;
			margin-top: -10px;
			padding: 10px;
		}
		
			.list header h2 {
				text-align: center;
				margin-left: -350px;
				line-height: 170%;
				text-transform: uppercase;
				font-family: Arial, sans-serif;
				font-weight: bold;
				font-size: 43px;
				color: #eee;
				text-shadow: 3px 2px 1px #665b5b;
			}

			#mtitle {
				font-size: 36px;
				text-transform: uppercase;
				text-align: center;
				color: #000;
				font-weight: bold;
				padding-bottom: 25px;
				border-bottom: 1px solid #bbb;
			}
	.featured {
		padding: 5px;
	}
	.novels {
		margin-left: 130px;
		padding-top: 70px;
		padding-bottom: 20px;
	}
	#featured {
		font-size: 33px;
	}
		.buttons	{
			margin-top: 100px;
			height: 25px;
			padding-left: 15px;
			padding-right: 15px;
			float: left;
		}
		.buttons img {
			width: 25px;
			height: 25px;
		}
		#display {
			height: 220px;
			width: 272px;
			overflow: hidden;
			float: left;
		}
		#imagelist {
			left: 0px;
			position: relative;
			width: 600px;
			list-style: none;  
			margin-left: -40px;
		}
		#imagelist li	{
			float: left;
			width: 140px;
			height: 220px;
		}
		#imagelist li img	{
			float: left;
			width: 133px;
			height: 190px;
			
		}

		#sale {
			padding-top: 0px;
			text-align: center;
			margin-left: -350px;
			font-size: 20px;
			color: #fff;
		}

		#click {
			margin-top: 105px;
			margin-left: 80px;
			margin-right: auto;
		}
		
			.button {
				font-size: 11.5px;
				color: #01741C;
				text-align: center;
				background-color: #dfffd6;
				padding: 10px;
				padding-left: 242px;
				padding-right: 242px;
				border: 1px solid #01741C;
				border-radius: 10px;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
			}
			
			.button:hover {
				background-color: #01741C;
				color: #dfffd6;
			}
			
		#magazine {
			list-style: none;
		}
		
		#magazine li {	
			display: inline-block;
			padding: 10px;
			margin-left: auto;
			margin-right: auto;
		}
		
		
		figure img {
			width: 200px;
			height: auto;
			box-shadow: 4px 4px 1px #999;
		}
		
		figcaption {
			padding-top: 15px;
			text-align: center;
			color: #333;
			font-size: 14px;
		}
		
		.price {
			font-weight: bold;
			font-size: 12px;
		}

		.price2 {
			font-weight: bold;
			font-size: 20px;
		}
		
		figcaption a {
			color: #333;
			text-decoration: none;
		}
		
		figcaption a:hover {
			text-decoration: underline;
		}

		main p img {
			width: 400px;
			height: auto;
			margin-left: 325px;
		}
		
		#imglist{
			list-style-type: none;
			display: none;
			margin-left: 300px;
		}

		form {
			margin-top: 0px;
			display: block;
		}
		
		form h2	{
			font-size: 30px;
			color: #333b35;
			font-weight: bold;
			padding-bottom: 25px;
			border-bottom: 1px solid #bbb;
		}
		
		form p {
			font-size: 15px;
			padding: 5px;
			padding-left: 45px;
		}
		
		label { 
			float: left;
			width: 18em; 
			display: block;
			padding-right: 1em; 
			font-weight: bold;
			color: #333;
		}
		
		#required {
			font-weight: normal;
			color: #ff0000;
			padding-left: 10px;
		}

		select {
			width: 25em;
			padding: 10px;
			border: 0.7px solid #bbb;
			margin-bottom: 1em; 
		}
		
		input { 
			width: 25em;
			padding: 10px;
			border: 0.7px solid #bbb;
			margin-bottom: 1em; 
			display: inline; 
		}

		#total {
			background-color: #eeeeee;
		}

		
		.radio input {
			width: 2em;
			font-size: 13px;
		}
				  
		#submit { 
			width: 10em;
			background-color: #dfffd6;
			color: #01741C;
			text-transform: uppercase;
			margin-left: 450px;
			padding: 10px;
			margin-top: 25px;
			border: 1px solid #01741C;
			border-radius: 10px;
			font-weight: bold;
		}
		#submit:hover {
			background-color: #01741C;
			color: #dfffd6;
		}

		#calculate { 
			width: 10em;
			background-color: #fff;
			color: #002408;
			text-transform: uppercase;
			margin-left: 300px;
			padding: 10px;
			margin-top: 25px;
			border: 0.3px solid #002408;
			border-radius: 10px;
			font-weight: bold;
		}
		#calculate:hover {
			background-color: #01741C;
			color: #fff;
		}

		#clear { 
			width: 10em;
			background-color: #fff;
			color: #002408;
			text-transform: uppercase;
			margin-left: 450px;
			padding: 10px;
			margin-top: -50px;
			border: 0.3px solid #002408;
			border-radius: 10px;
			font-weight: bold;
		}
		#clear:hover {
			background-color: #01741C;
			color: #fff;
		}

		#faq h2	{
			font-size: 48px;
			text-transform: uppercase;
			color: #01741C;
			font-weight: bold;
			padding-bottom: 25px;
			border-bottom: 1px solid #bbb;
		}

		#faq a {
			color: #000;
			text-decoration: none;
			font-weight: bold;
		}

		#faq h3 {
			padding: .25em 0 .25em 25px;
			background: url(images/plus.png) no-repeat left center;
		}

		#faq h3.minus {
			background: url(images/minus.png) no-repeat left center;
		}

		#faq div {
			display: none;
		}

		#faq div.open {
			display: block;
		}

		#books {
			margin-top: 0;
			float: right;
		}

footer {
	width: 100%;
	margin-top: 50px;
	padding: 25px;
	background-color: #eee;
	display: inline-block;
	border-top: 1px solid #ddd;
}
	.about {
		float: left;
		padding-left: 150px;
		padding-right: 50px;
		width: 500px;
	}
	
		.about p {
			margin-left: 35px;
			text-align: left;
			font-size: 12px;
			font-style: normal;
			color: #333;
		}
	
	.links {
		float: right;
		padding-right: 250px;
	}
	
	footer h4 {
		padding: 5px;
		text-transform: uppercase;
		font-size: 18px;
		color: #444;
	}
	
	
	footer ul {
		list-style: none;
	}
	
	footer ul li {
		display: block;
		padding-bottom: 15px;
		font-size: 12px;
	}
	
	footer ul li a {
		font-weight: normal;
		color: #333;
		text-decoration: none;
		font-weight: bold;
	}
	
	footer ul li a:hover {
		text-decoration: underline;
	}
	
	.line {
		border-top: 1px solid #bbb;
		margin-top: 220px;
		margin-left: 50px;
		width: 90%;
	}
	
	#copyright {
		margin-top: 30px;
	}
	
	#copyright p {
		text-align: center;
		font-size: 12px;
		font-style: italic;
		color: #333;
	}
	